<div class="row">
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/ziva.jpg"></a>
    </div>
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/probie.jpg"></a>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/wadjet.jpg"></a>
    </div>
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/ziva2.jpg"></a>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/probie2.jpg"></a>
    </div>
    <div class="col-sm">
        <a (click)="gotoDesc()"><img src="/assets/photos/probieziva.jpg"></a>
    </div>
</div>
<script src="main.js"></script>